.loginBoxWrapper {
  margin: 25% 25%;
  height: 50%;
  width: 90vh;
  background: #36393f;

  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
